
<div class="container-fluid">
  <div class="row">
    
     <div class="col-md-3 sidebar">
      <h3 >Dashboard</h3>
      <ul>
        <li><a href="/adminShowUsers">Drivers</a></li>
        <li><a href="/scenario?scenarioId=1" > Scenario 1</a></li>
        <li><a href="/scenario?scenarioId=2">Scenario 2</a></li>
        <li><a href="/scenario?scenarioId=3">Scenario 3</a></li>
      </ul>
    </div>

    <div class="col-md-9">
      <main role="main" class="col-lg-10 ml-sm-auto px-4">
        <div>
          <h3>Total number of bins: {{bins}} </h3>
        </div>
        <form id="scenarioForm" action="/admin/statistics" method="get">
          <div class="row mt-3">
            <div class="col-6 offset-3">
              <label class="form-label">View Statistics for:</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="scenarioId" id="scenario1" value="1">
                  <label class="form-check-label" for="scenario1">Scenario 1</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="scenarioId" id="scenario2" value="2">
                  <label class="form-check-label" for="scenario2">Scenario 2</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="scenarioId" id="scenario3" value="3">
                  <label class="form-check-label" for="scenario3">Scenario 3</label>
              </div>
              <button type="submit" class="btn btn-primary">Load Data</button>
            </div>
          </div>
        </form>
      </main>

      {{#if binsLoad}}
      <div>
        <h5>Bin IDs for scenario {{scenarioID}}:</h5>
        <div class="bin-id-list">
          {{#each binsIds}}
          <a href="/admin/predictions?scenarioId={{../scenarioID}}&binId={{this}}" class="bin-id-link">{{this}}</a>
          {{/each}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Load Levels (%)
            </div>
            <div class="card-body"> 
              <input type="hidden" id="binsLoadData" value="{{binsLoad}}">
              <canvas id="myChart1"></canvas>                
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Humidity Levels (%)
            </div>
            <div class="card-body"> 
              <input type="hidden" id="binsHumidityData" value="{{binsHumidity}}">
              <canvas id="myChart2"></canvas>                
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Temperature Levels (°C)
            </div>
            <div class="card-body"> 
              <input type="hidden" id="binsTempData" value="{{binsTemp}}">
              <canvas id="myChart3"></canvas>                
            </div>
          </div>
        </div>

      </div>

      {{#if binID}}
        <h3>Selected bin: {{binID}}</h3> 
        <h3> bin's real data: {{realDataLoad}} {{realDataHum}} {{realDataTemp}}</h3> 
        <h3> bin's pred data: {{predDataLoad}} {{predDataHum}} {{predDataTemp}}</h3> 
        
        <input type="hidden" id="realDataLoad" value="{{realDataLoad}}">
        <input type="hidden" id="realDataHum" value="{{realDataHum}}">
        <input type="hidden" id="realDataTemp" value="{{realDataTemp}}">

        <input type="hidden" id="predDataLoad" value="{{predDataLoad}}">
        <input type="hidden" id="predDataHum" value="{{predDataHum}}">
        <input type="hidden" id="predDataTemp" value="{{predDataTemp}}">

        <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Bin {{binID}} Load (%)
            </div>
            <div class="card-body"> 
              {{!-- <input type="hidden" id="binLoadData" value="{{binsLoad}}"> --}}
              <canvas id="myChart4"></canvas>                
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Humidity {{binID}} Levels (%)
            </div>
            <div class="card-body"> 
              {{!-- <input type="hidden" id="binsHumidityData" value="{{binsHumidity}}"> --}}
              <canvas id="myChart5"></canvas>                
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Temperature {{binID}} Levels (°C)
            </div>
            <div class="card-body"> 
              {{!-- <input type="hidden" id="binsTempData" value="{{binsTemp}}"> --}}
              <canvas id="myChart6"></canvas>                
            </div>
          </div>
        </div>

      {{/if}}


      {{/if}}
      

    </div>
  </div>
</div>

